<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Tareas</title>
    <!-- Enlaces a las bibliotecas de Bootstrap (CSS) -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='style_vistas.css') }}">
</head>

<body>
    <!-- Contenedor principal -->
    <div class="container">
        <!-- Encabezado de la página -->
        <h1>Lista de Tareas</h1>
        <!-- Sección condicional para mostrar la tabla de tareas o un mensaje si no hay tareas -->
        {% if tasks %}
        <!-- Tabla que muestra la información de las tareas -->
        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <!-- Encabezados de la tabla -->
                    <th>ID</th>
                    <th>Título</th>
                    <th>Descripción</th>
                    <th>Fecha de Tarea</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                <!-- Ciclo para recorrer la lista de tareas y mostrar cada una en una fila de la tabla -->
                {% for task in tasks %}
                <tr>
                    <!-- Celdas con la información de cada tarea -->
                    <td>{{ task.id }}</td>
                    <td>{{ task.title }}</td>
                    <td>{{ task.description }}</td>
                    <td>{{ task.date_task }}</td>
                    <td>
                        <!-- Formulario para eliminar la tarea -->
                        <form action="{{ url_for('deleteTask') }}" method="POST" style="display: inline;">
                            <input type="hidden" name="id" value="{{ task.id }}">
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <!-- Mensaje a mostrar si no hay tareas registradas -->
        <p>No hay tareas registradas.</p>
        {% endif %}
    </div>
    <!-- Enlace para regresar a la página de tareas -->
    <a href="{{ url_for('tasks') }}" class="btn btn-primary">Regresar a Task</a>
</body>

</html>